In [1]:
import pandas as pd
import numpy as np

In [2]:
filename_cn="./data/charactor normolize.csv"
filename_on="./data/original normolize.csv"
filename_sn="./data/space normolize.csv"
filename_tn="./data/time normolize.csv"
filename_result="./data/result.xlsx"
filename_story="./data/story.xlsx"

In [3]:
df_story=pd.read_excel(filename_story)
story_map={x:y for x,y in zip(df_story.id,df_story.title)}
story_map_inv={x:y for y,x in story_map.items()}

In [4]:
def process(filename):
    df=pd.read_csv(filename)
    df["Unnamed: 0"]=df["Unnamed: 0"].map(story_map_inv)
    df=df.rename(columns=story_map_inv)
    df=df.rename(columns={"Unnamed: 0":"id"})
    df=df.set_index("id")
    newcol=[i for i in range(1,177)]
    df=df[newcol]
    df=df.sort_index()
    return df

In [5]:
df_cn=process(filename_cn)
df_on=process(filename_on)
df_sn=process(filename_sn)
df_tn=process(filename_tn)
df_re=pd.read_excel(filename_result)

In [6]:
df_cn.head()

,1,2,3,4,5,6,7,8,9,10,...,167,168,169,170,171,172,173,174,175,176
id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.493505,0.620493,0.268518,0.331662,0.291156,0.385466,0.404330,0.321891,0.423329,...,0.464606,0.464282,0.364229,0.456418,0.331530,0.275016,0.288224,0.481249,0.541202,0.177369
2,0.493505,1.000000,0.778014,0.618611,0.649744,0.793139,0.714395,0.418487,0.292834,0.617659,...,0.441952,0.286773,0.342705,0.482165,0.281167,0.379346,0.213310,0.404947,0.640028,0.106907
3,0.620493,0.778014,1.000000,0.762915,0.592873,0.749231,0.721884,0.464296,0.393940,0.757037,...,0.506314,0.310276,0.414971,0.472147,0.364293,0.382695,0.356780,0.385137,0.555986,0.310962
4,0.268518,0.618611,0.762915,1.000000,0.611119,0.682244,0.558129,0.459760,0.276934,0.695168,...,0.471602,0.354004,0.356994,0.417113,0.422563,0.342227,0.671582,0.402595,0.365673,0.592252
5,0.331662,0.649744,0.592873,0.611119,1.000000,0.688143,0.641973,0.481672,0.342063,0.548870,...,0.502917,0.203336,0.422184,0.459638,0.228002,0.429652,0.335199,0.370577,0.329133,0.204552

In [7]:
df_re.head()

,ID,"folktales(A,B,C)","A,B","B,C","A,C","original similarity result1(A,B)","original similarity result2(B,C)","original similarity result3(A,C)","charactor wildcard1(A,B)","charactor wildcard2(B,C)",...,"space wildcard1(A,B)","space wildcard2(B,C)","space wildcard3(A,C)",New_folk,A,B,C,A_title,B_title,C_title
0,1.0,"19,152,75",1,0.0,2.0,0.295073,0.393477,0.564683,0.314399,0.394713,...,0.312097,0.396448,0.552644,"19,152,75",19.0,152.0,75.0,聪明的牧羊人,小白蛇报恩,雷泽华胥
1,2.0,"79,68,66",0,4.0,1.0,0.316522,0.524515,0.520098,0.360725,0.573314,...,0.341979,0.556858,0.529204,"79,68,66",79.0,68.0,66.0,李良审鹅,夸父逐日,孔雀东南飞
2,3.0,"24,121,39",2,0.0,0.0,0.531020,0.466269,0.477394,0.606005,0.521907,...,0.558276,0.453783,0.512550,"24,121,39",24.0,121.0,39.0,董永和七仙女,塞翁失马,红鱼女报恩
3,4.0,19142121,0,0.0,1.0,0.424393,0.449288,0.604052,0.536566,0.514628,...,0.422849,0.467434,0.605369,"19,142,121",19.0,142.0,121.0,聪明的牧羊人,天师钟馗驱鬼的故事,塞翁失马
4,5.0,116162103,1,2.0,0.0,0.508692,0.549651,0.397971,0.539042,0.572072,...,0.508690,0.515459,0.386245,"116,162,103",116.0,162.0,103.0,樵夫与狐仙,俞伯牙摔琴谢知音,木兰从军

In [8]:
rename_map={'original similarity result1(A,B)':"on(A,B)",'original similarity result2(B,C)':"on(B,C)",
       'original similarity result3(A,C)':"on(A,C)", 'charactor wildcard1(A,B)':"cn(A,B)",
       'charactor wildcard2(B,C)':"cn(B,C)", 'charactor wildcard3(A,C)':"cn(A,C)",
       'time wildcard1(A,B)':"tn(A,B)", 'time wildcard2(B,C)':"tn(B,C)", 'time wildcard3(A,C)':"tn(A,C)",
       'space wildcard1(A,B)':"sn(A,B)", 'space wildcard2(B,C)':"sn(B,C)", 'space wildcard3(A,C)':"sn(A,C)"}
df_re=df_re.rename(columns=rename_map)

In [9]:
df_re.head()

,ID,"folktales(A,B,C)","A,B","B,C","A,C","on(A,B)","on(B,C)","on(A,C)","cn(A,B)","cn(B,C)",...,"sn(A,B)","sn(B,C)","sn(A,C)",New_folk,A,B,C,A_title,B_title,C_title
0,1.0,"19,152,75",1,0.0,2.0,0.295073,0.393477,0.564683,0.314399,0.394713,...,0.312097,0.396448,0.552644,"19,152,75",19.0,152.0,75.0,聪明的牧羊人,小白蛇报恩,雷泽华胥
1,2.0,"79,68,66",0,4.0,1.0,0.316522,0.524515,0.520098,0.360725,0.573314,...,0.341979,0.556858,0.529204,"79,68,66",79.0,68.0,66.0,李良审鹅,夸父逐日,孔雀东南飞
2,3.0,"24,121,39",2,0.0,0.0,0.531020,0.466269,0.477394,0.606005,0.521907,...,0.558276,0.453783,0.512550,"24,121,39",24.0,121.0,39.0,董永和七仙女,塞翁失马,红鱼女报恩
3,4.0,19142121,0,0.0,1.0,0.424393,0.449288,0.604052,0.536566,0.514628,...,0.422849,0.467434,0.605369,"19,142,121",19.0,142.0,121.0,聪明的牧羊人,天师钟馗驱鬼的故事,塞翁失马
4,5.0,116162103,1,2.0,0.0,0.508692,0.549651,0.397971,0.539042,0.572072,...,0.508690,0.515459,0.386245,"116,162,103",116.0,162.0,103.0,樵夫与狐仙,俞伯牙摔琴谢知音,木兰从军

In [10]:
df_re.iloc[7]

ID                          8
folktales(A,B,C)    10,105,65
A,B                         1
B,C                         0
A,C                         2
on(A,B)              0.261094
on(B,C)              0.382122
on(A,C)              0.333767
cn(A,B)              0.310241
cn(B,C)               0.40876
cn(A,C)              0.417733
tn(A,B)              0.268908
tn(B,C)              0.389381
tn(A,C)              0.292511
sn(A,B)              0.301872
sn(B,C)              0.410093
sn(A,C)              0.306027
New_folk            10,105,65
A                          10
B                         105
C                          65
A_title                  杯弓蛇影
B_title                  哪吒闹海
C_title                  救命的鱼
Name: 7, dtype: object

In [11]:
df_re.iloc[0,:]["on(A,B)"]

0.29507262299863346

In [12]:
def generateshunxi(i):
    shunxi=[[],[],[]]
    need=[]
    maxcount= max(df_re.iloc[i,:]["A,B"],df_re.iloc[i,:]["B,C"],df_re.iloc[i,:]["A,C"])
    for k in ["A,B","A,C","B,C"]:
        if maxcount==df_re.iloc[i,:][k]:
            shunxi[0].append((k))
    if len(shunxi[0])==2:
        for k in ["A,B","A,C","B,C"]: 
            if maxcount!=df_re.iloc[i,:][k]:
                shunxi[1].append((k))
    elif len(shunxi[0])==3:
        pass
    else:  # ==1
        for k in ["A,B","A,C","B,C"]: 
            if k not in shunxi[0]:
                need.append(k)
        if df_re.iloc[i,:][need[0]]>df_re.iloc[i,:][need[1]]:
            shunxi[1].append((need[0]))
            shunxi[2].append((need[1]))
        elif df_re.iloc[i,:][need[0]]==df_re.iloc[i,:][need[1]]:
            shunxi[1].append((need[0]))
            shunxi[1].append((need[1]))
        else:
            shunxi[1].append((need[1]))
            shunxi[2].append((need[0]))
    return shunxi

In [17]:
for i in range(250):
    shunxi=generateshunxi(i)
    # if shunxi[2]:
    #     print(i,generateshunxi(i))
    if len(shunxi[0])==2:
        print(i,generateshunxi(i))

In [18]:
def out(df_re,col):
    acc=0
    mrr=0
    for i in range(len(df_re)):
        shunxi=generateshunxi(i)
        temp=0
        need=[]
        maxrel= max(df_re.iloc[i,:][col+"("+"A,B"+")"],df_re.iloc[i,:][col+"("+"B,C"+")"],df_re.iloc[i,:][col+"("+"A,C"+")"])
        for k in ["A,B","A,C","B,C"]:  
            if df_re.iloc[i,:][col+"("+k+")"]==maxrel:
                if k in shunxi[0]:
                    acc+=1
                    temp+=1
        if temp==0:
            for k in ["A,B","A,C","B,C"]:  
                if df_re.iloc[i,:][col+"("+k+")"]!=maxrel:
                    need.append(k)
            if df_re.iloc[i,:][col+"("+need[0]+")"]>df_re.iloc[i,:][col+"("+need[1]+")"]:
                if len(shunxi[0])==2:
                    if need[0] in shunxi[0]:
                        temp+=0.5
                else:
                    if need[0] in shunxi[1]:
                        temp+=0.5
                    else:
                        if need[1] in shunxi[2]:
                            temp+=1/3
            else:
                if len(shunxi[0])==2:
                    if need[1] in shunxi[0]:
                        temp+=0.5
                else:
                    if need[1] in shunxi[1]:
                        temp+=0.5
                    else:
                        if need[0] in shunxi[2]:
                            temp+=1/3
            # if shunxi[2]:
            #     print(shunxi[2],df_re.iloc[i,:][col+"("+need[0]+")"],df_re.iloc[i,:][col+"("+need[1]+")"])
        assert temp<=1
        # print(temp)
        # print(acc)
        mrr+=temp
    return acc/len(df_re),mrr/len(df_re)

In [19]:
acc_on,mrr_on=out(df_re,"on")
acc_tn,mrr_tn=out(df_re,"tn")
acc_sn,mrr_sn=out(df_re,"sn")
acc_cn,mrr_cn=out(df_re,"cn")

In [20]:
print(f"original method:")
print(f"acc:{acc_on:.4f},mrr:{mrr_on:.4f}")
# precision_on,recall_on,f1_on

original method:
acc:0.7450,mrr:0.7942

In [21]:
print(f"charactor method:")
print(f"acc:{acc_cn:.4f},mrr:{mrr_cn:.4f}")
#precision_cn,recall_cn,f1_cn

charactor method:
acc:0.8566,mrr:0.8924

In [22]:
print(f"time method:")
print(f"acc:{acc_tn:.4f},mrr:{mrr_tn:.4f}")
# precision_tn,recall_tn,f1_tn

time method:
acc:0.7610,mrr:0.8074

In [23]:
print(f"space method:")
print(f"acc:{acc_sn:.4f},mrr:{mrr_sn:.4f}")

space method:
acc:0.7849,mrr:0.8300